<%- include layouts/header.ejs %>


            <div class="page-data">
            
            <form method="post" action="/ptopic/savetopic">
            <div class="span">
			<label>Add Topic</label>
			<div class="form-group">
				  <input type="name" class="form-control"  placeholder="Enter Topics" name="topic">
			</div><br>
			<input type="submit" name="submit" value="Add topic">
			</form>
			</div>

		  
<%- include layouts/footer.ejs %>
		