<!DOCTYPE html>

<html>
  	<head>
    	<title>canvas</title>

	    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" >
	    <link rel="stylesheet" href="/stylesheets/header.css" type="text/css" >
	    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css' /> 
	    <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css" >
	    
	    <link rel="stylesheet" href="/stylesheets/demo1.css" type="text/css" >
  	</head>
 
  	<body style="background-color:grey">
    	<div class="wrapper">
      		<header>
        		<div class="header-top">
          			<div class="container">
            			<div class="pull-right">
              				<nav class="navbar clear-right pull-right">
              					<ul class="nav nav-pills">                <!-- Header NavBar -->
                					<li>
                    					<a href="" title="Login" class="active">Logout</a>
                					</li>
                					
                					
                					
                					
                					
					            </ul>
              				</nav>
           				</div>
         			</div>
      			</div>
      			</div>
      			
      			
      			<h2>Welcome</h2>
      			</br>
      			</br>
      			</br>
</br>
</br>

<div id="ballMenuContainer">
<div id="menuBall1" class="menuBall">
  <a href="#" class="ball blueball">
    <div class="menuText">
        Have query?
    </div>
  </a>
</div>
  </br>
<div id="menuBall2" class="menuBall">
	<a href="#" class="ball redball">
    <div class="menuText">
        Rate and Review
    </div>
  </a>
</div>
</br>
<div id="menuBall3" class="menuBall">
	<a href="#" class="ball greenball">
    <div class="menuText">
        Reserve Book
    </div>
  </a>
</div>
  </br>

  </a>
</div>
</div>
      			
      	
      			
	
		<div class="footer">
	      	<footer>
	        	<div class="container">
	        	
	         		<p class="copyright">
	          			
	          			<strong><a href="" title="home" ></a></strong>
	         		</p>          
	          	</div>
	      	</footer>
	   	</div>
  </body>
</html>