<!DOCTYPE html>

<html>
  	<head>
    	<title>canvas</title>
	    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" >
	    <link rel="stylesheet" href="/stylesheets/header.css" type="text/css" >
	    <link rel="stylesheet" href="/stylesheets/footer.css" type="text/css" >
	    <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css" >
	    <link rel="stylesheet" href="/stylesheets/dropdown.css" type="text/css" >
	    <link rel="stylesheet" href="/stylesheets/error.css" type="text/css" >
  	</head>
  
  	<body>
    	<div class="wrapper">
      		<header>
        		<div class="header-top">
          			<div class="container">
            			<div class="pull-right">
              				<nav class="navbar clear-right pull-right">
              					<ul class="nav nav-pills">                <!-- Header NavBar -->
                					<li>
                    					<a href="" title="Login" class="active">Login</a>
                					</li>
                					
					               

                				</ul>
              				</nav>
           				</div>
         			</div>
      			</div>
        
      			<div class="header-bottom">
        			<div class="container">
          				<div class="logo">        <!-- Header Logo and Search -->
            				<a href="" title="home" class="pull-left"><img src="/stylesheets/canvas.logo.png" alt="Logo" /></a>
            				<a href="" title="home" class="pull-left"><h3 class="clear-left">Plus</h3></a>
          				</div>         
        			</div>
      			</div>
      			
      			<div class="container ">
          			<nav id="dropdown_nav">
            			<h3>Login</h3>
          			</nav>
        		</div>
    		</header>

    		<section class="adjust">
      
	      		<form class="container form-horizontal" action="/UserHomePage" method="post">
	        		<div class="control-group">
	          			<label class="control-label" for="inputEmail">UserId</label>
	          			<div class="controls">
	            			<input type="text" id="userid" name="userid" placeholder="Userid" value="">
	          			</div>
					</div>
	        
	        		<div class="control-group">
	          			<label class="control-label" for="inputPassword">Password</label>
	          			<div class="controls">
	            			<input type="text" id="password" name="password" placeholder="password" value="">
	          			</div>
	        		</div>
	        		
	        		<div class="control-group">
	          			<div class="controls">
	              			
	            			<button type="submit" class="btn" >Sign in</button>
	            			
	          			
	      		</form>
	      		
	      		
	    	</section>
    	
			<div class="push">
			</div>
		</div>
	
		<div class="footer">
	      	<footer>
	        	<div class="container">
	         		<p class="copyright">
	          			
	          			<strong><a href="" title="home" ></a></strong>
	         		</p>          
	          	</div>
	      	</footer>
	   	</div>
  	</body>
</html>