<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link rel='stylesheet' href='/stylesheets/signin.css' />
	<title>Sign In</title>
</head>
<body>
<div id="header"></div>
<div id="mainBody">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="pr-wrap">
	                
	            </div>
	            <div class="wrap">
	                <p class="form-title" align="center">
	                    Sign In</p>
	                <form class="login" action="/demo" method="post" align="center">
					      <div>
					        <input type="text" name="username"  style="width:200px;"/>
					        <br/>
					      </div>
					      <div>
					        <input type="password" name="password"  style="width:200px;"/>
					      </div>
					      <div>
					        <input type="submit" value="SUBMIT" class="submitButton" style="width:220px;"/>
					      </div>
					 </form>
					 <div style="color: #ffffff;   margin:auto; margin-top:100px; width: 40%; background-color: #000000">
	                    User Login credentials: <br />
	                    <table>
	                    <tr>
	                    <td width="100">User</td>
	                    <td width="100">Username</td>
	                    <td width="100">Password</td>
	                    </tr>
	                    <tr>
	                    <td>Professor</td>
	                    <td>007</td>
	                    <td>qwerty</td>
	                    </tr>
	                    <tr>
	                    <td>Student 1</td>
	                    <td>100</td>
	                    <td>qwerty</td>
	                    </tr>
	                    <tr>
	                    <td>Student 2</td>
	                    <td>101</td>
	                    <td>qwerty</td>
	                    </tr>
	                    
	                    
	                    </table>
	                    </div>
	            </div>
	        </div>
	    </div>
	    
	</div>
</div>
</body>
</html>